body{
    margin: 0px;
    padding: 0px;
    width: 100wh;
    height: 100vh;
    box-sizing: border-box;
    & main{
        width: 100%;
        height: 100%;
        background-color: black;;
    }
}